body{
    background-color: black;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    overflow:hidden;
}

   /* main navbar */

.navbar{
    height: 4rem;
    padding: 0.3rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.navbar img{
    height: 2rem;
}

.navbar a{
    display: flex;
    text-decoration: none;
    /* width: 7rem; */

    /* font-family: sans-serif; */
}

#home-logo:hover{
    opacity: 1;
    border-radius: 50%;
    transform:scale(1.05) ;
}
#home-logo{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    background-color: rgb(37, 37, 37);
    color: white;
    opacity: 0.8;
    margin-left: 10px;
    position: relative;
    left: 0.5rem;
}

#home-icon-hover{
    position: absolute;
    left: 3.75rem;
    top: 4.5rem;
}

#search-icon{
    position: relative;
    opacity: 0.8;
}

.search-icon-hover{
    color: white;
    background-color: rgb(37, 37, 37);
    width: 4rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    left: 0rem;
    top: 3.5rem;
    opacity: 0;
    pointer-events: none;
}

.search-hover-type:hover .search-icon-hover{
    opacity: 1;
    transition: 0.8s ease;
}

#browse{
    position: absolute;
    left: 28rem;
    top:3rem ;
}

#search-icon:hover{
    opacity: 1;
    transform: scale(1.05);
}

#browse-icon{
    opacity: 0.8;
}

#browse-icon:hover{
    opacity: 1;
}

.search-bar{
    height: 3rem;
    width: 30rem;
    padding: 0 10px 0 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    opacity: 0.8;
    position: relative;
    left: 1rem;
}


.search-bar:hover{
    opacity: 1;
    border: 0.5px solid rgb(72, 70, 70);
    transition: 0.5s ease;
}

.search-bar:focus{
    border: 2.5px solid white;
}

.search-bar input{
    height: 2.5rem;
    width: 23rem;
    border: none;
    outline: none;
    background-color: rgb(37, 37, 37);
    font-size: large;
    color: white;
}
.search-bar input::placeholder{
    color: rgb(173, 170, 170);
}

.shortcut-key{
    color: rgb(168, 163, 163);
    display: flex;
    background-color: rgb(37, 37, 37);
    position: relative;
    right: 6.9rem;
    opacity: 0;
}

.shortcut-key span{
    border: 1px solid;
    width: 2.5rem;
    height: 1.5rem;
    margin: 2px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.search-bar:hover .shortcut-key{
    opacity: 1;
    transition: 0.5s ease;
}

.nav-items{
    display: flex;
    font-family: sans-serif;
    font-weight: 550;
    width: 20rem;
    justify-content: center;
    position: relative;
    right: -1rem;
    margin-left: 2.5rem;
}

.nav-items a{
    margin: 0.4rem;
    color: rgb(168, 163, 163);
}

.nav-items a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.03);
}

.install-button{
    color: rgb(168, 163, 163);
    width: 8rem;
    font-weight: 600;   
    position: relative;
    right: -3rem;
}

.install-button i{
    display: flex;
    align-items: center;
}

.install-button:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.login-button{
    background-color: white;
    color: black;
    height: 3rem;
    width: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 600;
}

.login-button:hover{
    transform: scale(1.03);
}

#signup{
    color: rgb(168, 163, 163);
    width: 5rem;
    position: relative;
    right: 0.8rem;
}

#signup:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}

/* section */

.hero_section{
    height: 75vh;
    /* width: 100%; */
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    box-sizing: border-box;
    gap: 0.5rem;

}

.hero_section1{
    height: 75vh;
    width: 32%;
    border-radius: 10px;
    background-color: rgb(24, 23, 23);

}

.hero_section2{
    width: 68%;
    height: 75vh;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

/* footer */

.footer-section{
    height: 5rem;
    margin: 0.5rem 0.7rem 0 0.7rem;
    border-radius: 10px;
    /* display: flex; */
    box-sizing: border-box;
    background-color: pink;
}


.library{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 1.5rem 1.1rem;
}

.library button{
    background-color: rgb(36, 36, 36);
    color: white;
    height: 2.1rem;
    width: 6rem;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    padding: 0.8rem;
    text-align:center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.library button:hover{
    opacity: 1;
    transition: 0.2s ease;
}


.create-playlist{
    height: 9rem;
    /* background-color: pink; */
    overflow-y: auto;
    padding: 0.5rem;

}

.create-playlist::-webkit-scrollbar{
    width: 0px;
    
}

.create-playlist:hover::-webkit-scrollbar{
    width: 10px;
}

.create-playlist::-webkit-scrollbar-thumb{
    background: #5a5959;
    border-radius:2px ;
    transition:5s ease;
}

.create-playlist:hover::-webkit-scrollbar-track{
    background: transparent;

}



.create-playlist-item{
    height: 6rem;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    margin-top: 1rem;
    padding: 1rem;
}

.create-playlist-badge{
    height: 1.5rem;
    width: 8rem;
    background-color: white;
    border-radius: 20px;
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
}

.create-playlist-badge span{
    font-weight: 550;
}

.create-playlist-badge:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.create-playlist-badge2{
    width: 9.5rem;
    
}

.create-playlist-badge2 span{
    font-weight: 550;
}

.library-aboutus{
    padding: 0.5rem;
    margin: 2rem 2rem 1rem 1rem;
    height: 4rem;
    cursor: pointer;
    /* background-color: pink; */

}

.library-aboutus span{
    margin: 0.5rem;
    color: rgb(148, 145, 145);
    font-size: small;
}

.library-aboutus1{
    display: flex;
    align-items: center;
}

.library-footer-section{
    height: 11rem;
    /* background-color: pink; */
}

.cookies{
    color: white;
    text-decoration: none;
    font-size: small;
}

.cookies-text{
    margin: 0.3rem;
}

.cookies:hover{
    text-decoration: underline;
}

.library-footer-section2{
    width: 7rem;
    height: 2rem;
    border-radius: 20px;
    border: 0.5px solid rgb(136, 134, 134);
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 2rem 0.1rem 2rem;
    cursor: pointer;
}

.library-footer-section2 button{
    background: none;
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.library-footer-section2:hover{
    transform: scale(1.05);
    border: 1px solid white;
}

@media(min-height:600px){
    .create-playlist{
        height: 20rem;
    }
    .hero_section{
        height: 83vh;
    }
    .hero_section1{
        height: 83vh;
    }
    .hero_section2{
        height: 83vh;
    }
    .footer-section{
        height: 6rem;
    }
    .library-footer-section{
        margin-top: 5rem;
    }
}